.header {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo {
    max-width: 45%;
    margin-top: 5%;
    margin-right: 0;
    margin-bottom: 5%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
}

.header__links {
    max-width: 20%;
    margin: 0;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
}

.header__lang-link {
    text-decoration: none;
    color: white;
    margin: auto;
}

.header__lang-link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.lead {
    max-width: 100%;
    margin: 0;
    text-align: center;
}

.lead__title {
    max-width: 100%;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    line-height: 44px;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
}

.lead__subtitle {
    max-width: 100%;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    line-height: 20px;
    font-size: 16px;
    font-weight: 310;
}

.lead__image {
    max-width: 100%;
    margin: 0;
}

.lead__caption {
    max-width: 100%;
    margin: 0;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
    text-align: start;
    line-height: 14px;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 0.15cap;
}

.intro {
    max-width: 100%;
    margin: 0;
}

.intro__title {
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
    line-height: 35px;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: bold;
}

.intro__text {
    margin: 0;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
    line-height: 163%;
    font-size: 16px;
    font-weight: normal;
}

.intro__list {
    margin-top: 10%;
    margin-right: 0;
    margin-bottom: 10%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
    line-height: 18px;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;

}

.photo-grid {
    max-width: 100%;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    gap: 1rem;
}

.photo-grid__item {
    max-width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.places {
    max-width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.place {
    max-width: 100%;
    margin: 0;
}

.place__title{
    max-width: 100%;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
    line-height: 35px;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: bold;
}

.place__image {
    max-width: 100%;
}

.place__website {
    max-width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
}

.place__website {
    margin-top: auto;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 0;
}

.place__website-heading {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
    color: #aaa;
    line-height: 12px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3cap;
}

.place__website-link {
    text-decoration: underline;
    color: white;
}

.place__website-link:hover {
    opacity: 0.7;
}

.place__paragraph-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.place__paragraph {
    max-width: 100%;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
    line-height: 163%;
    font-size: 16px;
}

.cover {
    max-width: 100%;
    margin-top: 5%;
}

.cover__container-link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    filter: brightness(90%);

}

.cover__container-link:hover {
    filter: brightness(70%);
}

.cover__title{
    width: 90%;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    padding-top: 10%;
    padding-right: 5%;
    padding-bottom: 0;
    padding-left: 5%;
    line-height: 40px;
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}    

.cover__subtitle {
    max-width: 100%;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    line-height: 16px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.footer {
    max-width: 100%;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__link {
    display: block;
    margin-top: 5%;
    margin-right: 0;
    margin-bottom: 5%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
    text-decoration: none;
    color: white;
    line-height: 24px;
    font-size: 24px;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__copyright {
    margin-top: 15%;
    margin-right: 0;
    margin-bottom: 10%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 2%;
    text-align: center;
}